body {
  background-color: #fafafa;
  font-family: Roboto,Helvetica,Arial,sans-serif; }

.btn-white {
  background-color: #fff;
  border: none;
  color: #116bd9; }

.btn-white:hover {
  background-color: #d6e9ff;
  color: #116bd9; }

.terminal {
  color: white;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 11pt;
  background: #1b1e21;
  padding: 15px;
  border-radius: 5px;
  height: 50px;
  max-width: 500px; }

.mastfoot {
  background-color: #4e86c6; }

.navbar {
  font-size: 18px;
  text-transform: uppercase; }
  .navbar a:hover {
    color: #d6e9ff !important; }

.st_flex {
  display: flex;
  justify-content: space-around; }
  .st_flex a {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px; }

.masthead {
  min-height: 500px;
  background-color: #1b7cf2;
  background-image: url("/assets/img/background8.png");
  background-attachment: fixed;
  background-position: center; }
  @media (max-width: 576px) {
    .masthead {
      margin-bottom: 3rem; } }
  .masthead .terminal-wrapper {
    padding: 20px 0; }
  .masthead .content {
    padding-top: 0px; }
    @media (min-width: 576px) {
      .masthead .content {
        padding: 40px 0px; } }
    @media (max-width: 576px) {
      .masthead .content {
        padding-bottom: 20px; } }
  .masthead h1 {
    color: white;
    font-weight: 600;
    font-family: inherit;
    margin-bottom: 0;
    margin-top: 40px;
    font-size: 60px; }
  .masthead h3 {
    font-weight: 300;
    color: #fff; }
  .masthead p {
    line-height: 1.75; }
  .masthead img {
    max-width: 300px; }
  .masthead .btn {
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.3); }

.screenshot-container {
  text-align: center;
  margin-bottom: 50px;
  background: linear-gradient(#abcbf3, 5%, #fafafa); }
  @media (max-width: 576px) {
    .screenshot-container {
      display: none; } }
  .screenshot-container img {
    margin-top: -60px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.3);
    border-radius: 4px; }

.badges-container {
  padding-top: 30px;
  padding-right: 0px;
  padding-bottom: 35px;
  padding-left: 0px;
  background-color: #fafafa;
  text-align: center; }

.mastfoot {
  padding: 10px 0px;
  color: #fff;
  text-align: center; }
